<launch>


	<node pkg="main_node" name="main" type="main" required="true" output="screen"/>
	<node pkg="opencv_node" name="vision" type="vision_talker" required="true" output="screen"/>
	
	<node pkg="rosserial_arduino" name="serialclient" type="serial_node.py" required="true" output="screen">
		<param name="port" value="/dev/ttyUSB0"/>
	</node>



</launch>
